@import url('https://fonts.googleapis.com/css2?family=Cousine');

#app {
    font-family: 'Cousine';
}

.home {
    height: 100vh;
}

.welcome-text {
    font-size: 2.5em;
    font-weight: 1000;
}

.typed-cursor {
    font-size: 2.5em;
}

.welcome-intro {
    margin-top: 2em;
    margin-bottom: 2em;
}

.fa-heart {
    color: red;
}

.mars-fasilkom {
    input {
        color: blue;
    }
}