@import url('https://fonts.googleapis.com/css2?family=Cousine');

#app {
    font-family: 'Cousine';
}

h1 {
    font-weight: 1000 !important;
}

.home {
    height: 100vh;
}

.welcome-intro {
    margin-top: 2em;
    margin-bottom: 2em;
}

.fa-heart {
    color: red;
}